.heroSectionAbout{
    background: url(../assets/aboutHeroImg.svg);
    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storyDiv{
    background-color: #4f4145;
    height: 550px;
    width: 800px;
    color: white;
    border-radius: 10px;
    display: flex;
    padding: 20px;
}

.story-text{
    margin: 10px;
}

.story-text p{
    font-size: 20px;
}

.story-image img{
    height: 400px;
}

@media (max-width:900px){
    .heroSectionAbout{
        height: auto;
    }
    .storyDiv{
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        /* margin-bottom: 100px */
    }

    .story-text{
        width: q00%
    }
}