.cardImages{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}


.propchosen{
    margin: 40px;
}

@media (max-width:900px){
    .cardImages{
        flex-direction: column;
    }
}