.for-recruiter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.forRecruiter-hero-section{
    display: flex;
    border :2px solid red;
    justify-content: space-between;
}

.fr-text-container{
    margin: 50px 20px


}

.fr-text-container h2{
    font-family: Roboto;
font-size: 48px;
font-weight: 500;
line-height: 56.25px;
}
.fr-text-container p{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    width: 80%;
    
}


#people{
    width: 400px;
   margin: auto;
}

.search-div{
    display: flex;
    align-items: center;
}



.cardR{
    display: flex;
    justify-content: space-between;
    margin: 50px 10px;
}

#btn{
   
    width: 230px;
    height: 54px;
    flex-shrink: 0;
    margin: 30px auto;
    border-radius: 30px;
    background: var(--brandColor-brandColor-600, #DC9BA5);
    border: none;
}

#link{
    margin: auto;
}


@media (max-width:900px){
    .cardR{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    #people{
        width: 100%;
    }
}