.Hero-section-container{
    display: flex;
   
}

.hero-text{
    margin-left: 30px;
    
}
.hero-text h2{
    font-size: 64px;
    
}
.hero-text p{
    font-size: 2.5rem;
    width: 700px;
    
}

button{
    width: 150px;
    height: 43px;
    margin-left: 20px;
    border-radius: 20px;
}

.btnDiv >:nth-child(1){
    background-color: #DC9BA5;
    border: none;
}

@media (max-width: 900px){
    .Hero-section-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }

    .hero-text{
        margin-left: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-text h2{
        font-size: 30px;
        width: 100%;
        text-align: center;
    }
    .hero-text p {
        font-size: 2.5rem;
        text-align: center;
        width: 100%;
    }
    .heroImgDiv img {
        width: 300px
    }
}