.recruiter-container{
    background-color: #D8CDD0;
    border-radius: 20px;
    /* height: 200px; */
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}