.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-bottom: 20px;
}

.progress {
  height: 10px;
  background-color: #4caf50;
  border-radius: 10px;
}

.form-page {
  display: flex;
  flex-direction: column;
}

.form-page label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-page input,
.form-page textarea {
  margin-bottom: 15px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-page textarea {
  resize: vertical;
  min-height: 100px;
}

input[type="file"] {
  padding: 8px;
}

input[type="radio"] {
  margin-right: 10px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navigation-buttons button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #DC9BA5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navigation-buttons button:hover {
  background-color: #bd979c;
 
}

.navigation-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.saved-items ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.saved-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  background-color: #f9f9f9;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.saved-items li:hover {
  background-color: #f0f0f0;
}

.delete-icon {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 18px;
}

.delete-icon:hover {
  color: #d32f2f;
}

/* img {
  margin-top: 15px;
  max-width: 150px;
  border-radius: 5px;
} */

.form-page p {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.form-page h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
  font-weight: 600;
}

.saved-items {
  margin-top: 20px;
}


.btn-cta{
  background: #DC9BA5;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  color: white;
  margin-right: 20px;
}