.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .progress {
    height: 10px;
    background-color: #4caf50;
    border-radius: 10px;
  }
  
  .form-page {
    display: flex;
    flex-direction: column;
  }
  
  .form-page input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
  }
  
 .navigation-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 .navigation-buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  

  .job-title-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .cancel-icon {
    margin-left: 10px;
    color: red;
    cursor: pointer;
    font-size: 20px;
  }
  
  .job-title-item {
    margin: 5px 0;
    font-size: 16px;
  }
  